.about-container {
    padding: 6rem 3rem;
    color: aliceblue;
    margin: 2rem 15rem;
     display: flex; 
     justify-content: center;
    align-items: center; 
    max-width: 75rem;
    background-image: linear-gradient(45deg, rgb(75, 2, 138) 25%, rgb(148, 36, 246)50%, rgb(133, 27, 225) 75%, rgb(75, 2, 138)100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user-name {
    font-size: 1.5rem;
    text-align: center;
}



.img-responsive {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

.about-header {
    margin-left: 3rem;
    margin-bottom: -1rem;
}

.description {
    padding: .5rem 1rem;
    margin-left: 2rem;
}
@media screen and (max-width: 768px) {

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 2rem;
    }
    .img-responsive {
        width: 15rem;
        height: 15rem;
    }

    .user-name {
        margin-top: .5rem;

    }

    .description {
        margin-left: .5rem;
    }
    
}