.contact {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5rem;
    text-align: center;
    margin: 15rem;
    line-height: 1.5;
    padding: 2rem;
    font-size: 5rem;
}

.constructor {
    font-size: 5rem;
}

@media screen and (max-width: 768px){

    .contact {
        margin: 5rem .5rem;
        font-size: 1.8rem;
    }

    .constructor {
        font-size: 10rem;
        margin: 5rem auto;
    }
    
}