
.main__projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 1rem 4rem;
    grid-template-areas: "project1 project2" "project3 project4";
    padding: 2rem;
    place-content: center;
    place-items: center;
    max-width: 75rem;
    color: #fff;
}

.project {
  width: 100%;
}
.counter-title {
    padding-top: 1rem;
    font-size: 3rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .counter {
      border-radius: 10px;
    background-image: radial-gradient(
      circle farthest-corner at 22.4% 21.7%,
      rgba(4, 189, 228, 1) 0%,
      rgba(2, 83, 185, 1) 100.2%
    );
    text-align: center;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    height: 20rem;
  }

  .counter .positive, .negative {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    font-weight: 700;
  }
  

  button {
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    -webkit-box-shadow: 0px 1px 13px -1px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 1px 13px -1px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 1px 13px -1px rgba(0, 0, 0, 0.51);
    cursor: pointer;
  }
  
  button:active {
    -webkit-box-shadow: 0px 1px 13px -1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 13px -1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 13px -1px rgba(0, 0, 0, 0.2) inset;
  }

  .addOne {
    background-color: rgb(1, 94, 71);
    border: none;
    color: azure;
    border-radius: 5px;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
  }
  
  .addOne:hover {
    background-color: rgb(2, 114, 86);
  }
  
  .minusOne {
    background-color: rgb(128, 4, 4);
    padding: 0.5rem 3rem;
    border: none;
    color: azure;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  
  .minusOne:hover {
    background-color: rgb(180, 3, 3);
  }

  .negative {
    color: rgb(199, 4, 4);
  }

  .color__generator {
    cursor: pointer;

  }

  .colors_main {
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(71, 1, 128, 0.477);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }

  .colors {
    display: flex;
  }

  .colors_main h1 {
    margin: .5rem;
    font-size: 2.5rem;
    text-align: center;
  }

   p.hint {
    word-wrap: wrap;
    text-align: center;
    font-size: .8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .color_code {
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .color {
    height: 14.5rem;
  }
   
  .form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #52553C;
  }

  .typewriter-label {
    font-size: 2rem;
    font-weight: 700;
  }

  .typewriter {
    padding: .5rem;
    width: 100%;
  }

  .typewriter-print {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #929955;
    padding: .5rem;
    width: 100%;
  }
/* Medium Screen Media Query */
@media screen and (max-width: 820px) {
    .main__projects {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "project1" "project2" "project3" "project4";
    }

}

@media screen and (max-width: 768px) {

  .counter > h1 {
    font-size: 3rem;
  }
  .count > button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
  .count > h2 {
    font-size: 4rem;
  }

  .counter-title {
    font-size: 2.5rem;
  }

  .counter .positive, .negative {
    font-size: 3.5rem;
  }

  .addOne, .minusOne {
    font-size: 1rem;
  }

  .colors {
    display: block;
  }

  .color__generator {
    height: auto;
    margin: 0;
  }

  .colors_main h1 {
    font-size: 2rem;
  }

  .color_code {
    width: 5rem;
  }

  .color {
    height: inherit;
    margin: 0;
  }
  
}

@media screen and (767px <= width <= 1130px) {
  .main__projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "project1" "project2" "project3" "project4";
}
}

/* Smaller Screens media queries */

@media screen and (max-width: 768px){
  
}